//colors
$color_mercury_approx: #e7e7e7;
$color_desert_storm_approx: #f8f8f8;
$white: white;
$color_gallery_approx: #eeeeee;
$color_boston_blue_approx: #428bca;
$color_fern_approx: #5cb85c;
$color_viking_approx: #5bc0de;
$color_casablanca_approx: #f0ad4e;
$color_chestnut_rose_approx: #d9534f;
$color_mountain_mist_approx: #999999;
$mine_shaft_50: rgba(50, 50, 50, 0.5);
$color_alto_approx: #ddd;
$color_goblin_approx: #3d8b3d;
$color_tall_poppy_approx: #b52b27;
$color_golden_bell_approx: #df8a13;
$color_quill_gray_approx: #d4d4d4;
$black_17_5: rgba(0, 0, 0, 0.175);
$color_celeste_approx: #ccc;
$color_astral_approx: #2e6da4;

//fonts
$font_0: fontawesome;

body {
  background-color: $color_desert_storm_approx;
}
#wrapper {
  width: 100%;
}
#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: $white;
}
@media(min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid $color_mercury_approx;
  }
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
  .navbar-top-links {
    .dropdown-messages {
      margin-left: auto;
    }
    .dropdown-tasks {
      margin-left: auto;
    }
    .dropdown-alerts {
      margin-left: auto;
    }
  }
}
.navbar-top-links {
  margin-right: 0;
  li {
    display: inline-block;
    &:last-child {
      margin-right: 15px;
    }
    a {
      padding: 15px;
      min-height: 50px;
    }
  }
  .dropdown-messages {
    width: 310px;
    min-width: 0;
    margin-left: 5px;
  }
  .dropdown-tasks {
    width: 310px;
    min-width: 0;
    margin-left: -59px;
  }
  .dropdown-alerts {
    width: 310px;
    min-width: 0;
    margin-left: -123px;
  }
  .dropdown-user {
    right: 0;
    left: auto;
  }
  .dropdown-menu li {
    display: block;
    &:last-child {
      margin-right: 0;
    }
    a {
      padding: 3px 20px;
      min-height: 0;
      div {
        white-space: normal;
      }
    }
  }
}
.sidebar {
  .sidebar-search {
    padding: 15px;
  }
  .arrow {
    float: right;
  }
  .sidebar-nav.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  ul li {
    border-bottom: 1px solid $color_mercury_approx;
    a.active {
      background-color: $color_gallery_approx;
    }
  }
  .fa.arrow:before {
    content: "\f104";
  }
  .active > a > .fa.arrow:before {
    content: "\f107";
  }
  .nav-second-level li {
    border-bottom: none !important;
    a {
      padding-left: 37px;
    }
  }
  .nav-third-level li {
    border-bottom: none !important;
    a {
      padding-left: 52px;
    }
  }
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted $color_mountain_mist_approx;
    &.left .chat-body {
      margin-left: 60px;
    }
    &.right .chat-body {
      margin-right: 60px;
    }
    .chat-body p {
      margin: 0;
    }
  }
  .glyphicon {
    margin-right: 5px;
  }
}
.login-panel {
  margin-top: 25%;
}
.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
  &.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
  }
}
.show-grid {
  margin: 15px 0;
  [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid $color_alto_approx;
    background-color: $color_gallery_approx !important;
  }
}
.huge {
  font-size: 40px;
}
.panel-green {
  border-color: $color_fern_approx;
  > a {
    color: $color_fern_approx;
    &:hover {
      color: $color_goblin_approx;
    }
  }
  > .panel-heading {
    border-color: $color_fern_approx;
    color: $white;
    background-color: $color_fern_approx;
  }
}
.panel-red {
  border-color: $color_chestnut_rose_approx;
  > a {
    color: $color_chestnut_rose_approx;
    &:hover {
      color: $color_tall_poppy_approx;
    }
  }
  > .panel-heading {
    border-color: $color_chestnut_rose_approx;
    color: $white;
    background-color: $color_chestnut_rose_approx;
  }
}
.panel-yellow {
  border-color: $color_casablanca_approx;
  > a {
    color: $color_casablanca_approx;
    &:hover {
      color: $color_golden_bell_approx;
    }
  }
  > .panel-heading {
    border-color: $color_casablanca_approx;
    color: $white;
    background-color: $color_casablanca_approx;
  }
}
.btn-primary.btn-outline {
  color: $color_boston_blue_approx;
  &:hover {
    color: $white;
  }
}
.btn-success.btn-outline {
  color: $color_fern_approx;
  &:hover {
    color: $white;
  }
}
.btn-info.btn-outline {
  color: $color_viking_approx;
  &:hover {
    color: $white;
  }
}
.btn-warning.btn-outline {
  color: $color_casablanca_approx;
  &:hover {
    color: $white;
  }
}
.btn-danger.btn-outline {
  color: $color_chestnut_rose_approx;
  &:hover {
    color: $white;
  }
}
.panel .slidedown .glyphicon {
  margin-right: 5px;
}

